# 가상환경
pythonprac/venv/
projects/01.prac/venv/
projects/02.mars/venv/
projects/03.pedia/venv/
projects/04.bucket/venv/
projects/05.fan/venv/

# mongodb url
projects/mongo.py

key.txt

# 배포할거 제외
projects/05.fan/deploy/